<app-menu></app-menu>
<div class="thin">
<mat-icon color="primary" class="icon-back">arrow_back</mat-icon>
  <span class="label-back">Loan journey</span>
</div>

<div class="flex customer-input">
  <div class="flex grey-block grow">
    <div class="flex column center">
      <div class="promo-text">
        <h1 class="mat-display-2 inspiring-text">Cause life happens.</h1>
        <h1 class="mat-display-2 inspiring-text">Get a hassle-free loan here.</h1>
        <form class="example-form center">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID/Passport number">
          </mat-form-field>
          <button type="submit"
                  mat-raised-button
                  color="primary"
                  class="go-button"
          >Go</button>
        </form>
      </div>
    </div>
  </div>

  <div class="flex grow white-block">
  </div>

</div>
