<div class="accent">
  <img src="../../assets/icon/standard_bank_logo.ico">
</div>

<mat-card class="column">
  <h1 class="mat-headline">Sign in</h1>
  <form >
    <mat-form-field>
      <input matInput placeholder="Username" value="Consultant@standardbank.co.za">
    </mat-form-field>
    <br>
    <mat-form-field>
      <div class="container">
      <input type="{{type}}" matInput placeholder="Password" value="passwordpass">
      <span class="show" (click)="toggleShow()">
        Show
      </span>
      </div>
    </mat-form-field>

  </form>
    <button mat-raised-button class="mat-primary">Sign in</button>

  <a href="#" class="blue">Forgot your password?</a>
</mat-card>








