<div class="accent">
  <button mat-icon-button>
    <mat-icon color="accent">menu</mat-icon>
    <span class="mat-body-1">Menu</span>
  </button>
  <img [src]="imageSrc">
  <button mat-icon-button>
    <mat-icon color="accent">person</mat-icon>
  </button>
</div>

<section class="center">
  <mat-card class="search">
    <mat-icon>search</mat-icon>
      <input class="input" placeholder="Search customers by SA ID, account number or passport number">
    <button mat-raised-button color="primary" class="searchButton">Search</button>
  </mat-card>
</section>

<app-question-cards-container></app-question-cards-container>

