mat-icon {
  font-size: 28px;
}
span{
  margin: 12px;
  color: #fafafa;
  position: absolute;
  line-height: 22px;
}
button.mat-icon-button{
  margin: 35px;
}
.accent{
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.accent > img {
  width: 50px;
  height: 60px;
  margin-top: 2vh;
}
.center{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.column{
  margin-top: 10%;
  align-items: center;
  flex-direction: column;
}
.column > h2{
  font-weight: 200;
  font-size: 30px;
  color: #6e6f6f;
}
.search{
  width: 60%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.input{
  border:none;
  width: 100%;
  margin: 20px 10px;
  font-size:14pt;
}
.input:focus{
  outline:none;
}
input::placeholder {
  color: #e8e8e8;
}
.mat-card>:first-child{
  margin-left: 15px;
  font-size: 24px;
 }
.searchButton{
  height: 100%;
  width: 100px;
  text-transform: uppercase;
  border-radius: 0 7px 7px 0;
}
.example-form {
  min-width: 150px;
  max-width: 90%;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.row{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}
.option{
  background: white;
  border-radius: 7px;
  width: 250px;
  height: 150px;
  margin: 10px;
  color: #000c17;
  font-weight: bold;
}

